footer {
    padding: 50px 50px;
    overflow: hidden;
    background-color: #343434;
    color: #FFFFFF;
}
  
footer .brand #footer-logo {
    width: 100px;
    float: left;
    padding: 10px;
}
  
footer .brand #footer-title {
    margin-left: 12px;
    margin-bottom: 10px;
    padding: 10px;
    display: block;
    text-decoration: none;
}
  
footer .brand #footer-title h3 {
    margin-top: 10px;
    text-decoration: none;
    color: #dfdfdf;
    line-height: 25px;
    font-size: 27px;
    font-family: "Helvetica Neue", sans-serif;
}
  
footer .brand #footer-title h3:hover {
    text-decoration: none;
    font-size: 30px;
}

footer .brand .info {
    font-family: "Helvetica Neue", sans-serif;
    padding-right: 35%;
    text-align: justify;
    text-justify: inter-word;
}

footer h4 {
    margin-bottom: 20px;
}

footer .company-link {
    text-decoration: none;
    font-family: "Helvetica Neue", sans-serif;
    color: #dfdfdf;
}

footer .company-link:hover {
    font-weight: bold;
    -webkit-transition: font-weight 0.5s ease-in-out;
    -ms-transition: font-weight 0.5s ease-in-out;
    transition: font-weight 0.5s ease-in-out;
}

footer .social-media a {

    text-decoration: none;
    color: #dfdfdf;
}

footer .social-media a:hover {
    color: #6d6d6d;
    -webkit-transition: font-size 0.5s ease-in-out;
    -ms-transition: font-size 0.5s ease-in-out;
    transition: font-size 0.5s ease-in-out;
}

@media only screen 
and (max-width : 575px) {
    footer .brand .info {
        padding-right: 0;
        font-size: 10px;
    }

    footer h4 {
        font-size: 18px;
    }

    footer .company-link {
        font-size: 10px;
    }

    footer .brand #footer-logo {
        width: 80px;
    }

    footer .brand #footer-title h3 {
        font-size: 18px;
    }

    footer .brand #footer-title h3:hover {
        font-size: 20px;
    }

    .float-right {
        float: left !important;
    }

}
